<!DOCTYPE html>
<html lang="en">
<head>
	<title>Choose Players</title>
	<link rel="stylesheet" type="text/css" href="common.css" />
	<meta name="viewport" content="width=device-width">
</head>
<body>
<form method="post">
<fieldset class="admin-box">
	<legend>Choose Players</legend>
	{{#each players}}
		<div class="admin-row">
			<input type="checkbox" name="{{player}}" id="{{player}}" {{#if playing}}checked{{/if}}>
			<label for="{{player}}">{{player}} ({{weight}}%)</label>
		</div>
	{{/each}}
	<div class="center-block">
		<input type="submit" value="Save">
	</div>
</fieldset>
</body>
</html>
