<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
	<title>Game Voting</title>
	<link rel="stylesheet" type="text/css" href="common.css" />
	<link rel="stylesheet" type="text/css" href="games.css" />
	<meta name="viewport" content="width=500">
</head>
<body>
	<header>
		<h1>Hello {{username}}</h1>
		<div>
			<form id="autoform" name="autoform" action="/autosave" method="post">
			</form>
			<form id="gamevotes" name="gamevotes" action="/games" method="post">
			</form>
			<input class="javascript-required" form="autoform" id="autosave_check" type="checkbox" name="autosave" value="true">
			{{#if autosave}}
				<script>
					document.querySelector('#autosave_check').checked = true;
				</script>
			{{/if}}
			<label class="javascript-required" for="autosave_check">Autosave</label>
			<input type="submit" form="gamevotes" value="Save Votes">
		</div>
		<nav>
			<a href="/password">Set Password</a>
			<form action="/logout" method="post">
				<input type="submit" value="Logout">
			</form>
		</nav>
	</header>
	<div id="inner">
		<div id="left">
			<h2>Voted games</h2>
			<fieldset id="theList" form="gamevotes">
				{{#each gamelist}}
					<div class="game-entry" data-id="{{game}}" data-vote="{{vote}}">
						<span>{{game}}</span>
						<input type="number" form="gamevotes" name="{{game}}" value="{{vote}}" autocomplete="off" onblur="onInputBlur(event)">
					</div>
				{{/each}}
			</fieldset>
		</div>
		<div id="right">
			<h2>New games</h2>
			<div id="unrankedList">
				{{#each unranked}}
					<div class="game-entry" data-id="{{game}}">
						<span>{{game}}</span>
						<input type="number" name="{{game}}" autocomplete="off" onblur="onInputBlur(event)">
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="javascript-required" id="winner-bar">
		<div id="one-winner">Game to play: <span id="winner-game"></span></div>
		<div id="multiple-winners">Games to play:</div>
		<a href="/configure">Game Settings</a>
	</div>
	<script src="Sortable.js"></script>
	<script src="games.js"></script>
</body>
</html>
<script>
// Running this confirms we have Javascript, so reveal all elements that require it.
var javascriptElements = document.querySelectorAll('.javascript-required');
for (var i=0; i<javascriptElements.length; i++) javascriptElements[i].classList.remove('javascript-required');
</script>
